scapula/schemas/xml/BatchResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batchresult" nillable="true" type="BatchResult" />
  <xs:complexType name="BatchResult">
    <xs:complexContent mixed="false">
      <xs:extension base="Displayable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="processor" type="BatchProcessorInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="moduleresults" type="ArrayOfModuleResult" />
        </xs:sequence>
        <xs:attribute name="href" type="xs:string" />
        <xs:attribute name="cancelHref" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Displayable" />
  <xs:complexType name="ModuleResult">
    <xs:complexContent mixed="false">
      <xs:extension base="Displayable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="issues" type="IssueListReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IssueListReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemListReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemListReference">
    <xs:attribute name="generator" type="xs:string" />
    <xs:attribute name="itemSchemaLocation" type="xs:string" />
    <xs:attribute name="generatorVersion" type="xs:string" />
    <xs:attribute name="href" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AuditModuleResult">
    <xs:complexContent mixed="false">
      <xs:extension base="ModuleResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="config" />
          <xs:element minOccurs="0" maxOccurs="1" name="filters" type="ArrayOfFilterModule" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="auditdata" type="ItemListReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfFilterModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="FilterModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilterModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="module" type="VersionSelector" />
      <xs:element minOccurs="0" maxOccurs="1" name="config" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VersionSelector">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BatchProcessorInfo" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="issues" type="IssueListReference" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AgentManagerInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="BatchProcessorInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="moduledefs" type="ArrayOfModuleDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfModuleDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="moduledef" nillable="true" type="ModuleDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModuleDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="module" type="VersionSelector" />
      <xs:element minOccurs="0" maxOccurs="1" name="usage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="warning" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="input" nillable="true" type="ArrayOfDataFormat" />
      <xs:element minOccurs="0" maxOccurs="1" name="output" type="ArrayOfDataFormat" />
      <xs:element minOccurs="0" maxOccurs="1" name="paramdefs" type="ArrayOfParameterDefinition" />
    </xs:sequence>
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="context" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfDataFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="format" nillable="true" type="DataFormat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="defExt" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="defName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userData" type="DictionaryEntry" />
    </xs:sequence>
    <xs:attribute name="priority" type="xs:int" use="required" />
    <xs:attribute name="mimetype" type="xs:string" />
    <xs:attribute name="content-type" type="xs:string" />
    <xs:attribute name="schema" type="xs:string" />
    <xs:attribute name="schema-type" type="xs:string" />
    <xs:attribute name="schema-version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DictionaryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paramdef" nillable="true" type="ParameterDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="restrictedToValues" type="ArrayOfParameterValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="suggestedValues" type="ArrayOfParameterValue1" />
      <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="context" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="required" type="xs:boolean" use="required" />
    <xs:attribute name="repeatable" type="xs:boolean" use="required" />
    <xs:attribute name="usage" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfParameterValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="param" nillable="true" type="ParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParameterValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="value" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfParameterValue1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" nillable="true" type="ParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfModuleResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="moduleresult" nillable="true" type="ModuleResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnalysisConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="command" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inputs" type="ArrayOfString1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="input" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParameterListModuleConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="ArrayOfParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>