scapula/schemas/xml/mir.w32useraccounts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserItem" nillable="true" type="UserItem" />
  <xs:complexType name="UserItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fullname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="grouplist" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecurityID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SecurityType" nillable="true" type="SIDTypes" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastLogin" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="disabled" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="lockedout" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="passwordrequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="userpasswordage" type="xs:duration" />
          <xs:element minOccurs="0" maxOccurs="1" name="homedirectory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="scriptpath" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groupname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SIDTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SidTypeUser" />
      <xs:enumeration value="SidTypeGroup" />
      <xs:enumeration value="SidTypeDomain" />
      <xs:enumeration value="SidTypeAlias" />
      <xs:enumeration value="SidTypeWellKnownGroup" />
      <xs:enumeration value="SidTypeDeletedAccount" />
      <xs:enumeration value="SidTypeInvalid" />
      <xs:enumeration value="SidTypeUnknown" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>