scapula/schemas/xml/mir.w32eventlogs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EventLogItem" nillable="true" type="EventLogItem" />
  <xs:complexType name="EventLogItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="EID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="log" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CorrelationActivityId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CorrelationRelatedActivityId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExecutionProcessId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExecutionThreadId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="index" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="categoryNum" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="genTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="writeTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="reserved" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="source" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="machine" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="user" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="category" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="unformattedMessage" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="blob" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>