scapula/schemas/xml/mir.w32scripting-persistence.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PersistenceItem" nillable="true" type="PersistenceItem" />
  <xs:complexType name="PersistenceItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="RegPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegText" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegValue" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegContext" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegOwner" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegModified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="FilePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkFilePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PersistenceType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FileOwner" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileModified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileAccessed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileChanged" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CertificateIssuer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="md5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="sha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="sha256sum" type="Sha256HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServiceName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServicePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLL" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="descriptiveName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="arguments" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="mode" nillable="true" type="ServiceMode" />
          <xs:element minOccurs="0" maxOccurs="1" name="startedAs" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="status" nillable="true" type="ServiceStatus" />
          <xs:element minOccurs="1" maxOccurs="1" name="pathSignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="pathSignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathSignatureDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathCertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathCertificateIssuer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathmd5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathsha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathsha256sum" type="Sha256HashSum" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceDLLSignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceDLLSignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLSignatureDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLCertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLCertificateIssuer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLmd5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLsha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLsha256sum" type="Sha256HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistryItem" type="RegistryItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="FileItem" type="FileItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServiceItem" type="ServiceItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ServiceItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="descriptiveName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="mode" type="ServiceMode" />
          <xs:element minOccurs="0" maxOccurs="1" name="startedAs" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="arguments" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceDLL" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="status" type="ServiceStatus" />
          <xs:element minOccurs="1" maxOccurs="1" name="pid" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="type" type="ServiceType" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathmd5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathsha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathsha256sum" type="Sha256HashSum" />
          <xs:element minOccurs="1" maxOccurs="1" name="pathSignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="pathSignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathSignatureDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathCertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pathCertificateIssuer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLmd5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLsha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLsha256sum" type="Sha256HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLCertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLCertificateIssuer" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceDLLSignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="serviceDLLSignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="serviceDLLSignatureDescription" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ServiceMode">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SERVICE_AUTO_START" />
          <xs:enumeration value="SERVICE_BOOT_START" />
          <xs:enumeration value="SERVICE_DEMAND_START" />
          <xs:enumeration value="SERVICE_DISABLED" />
          <xs:enumeration value="SERVICE_SYSTEM_START" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="ServiceStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SERVICE_CONTINUE_PENDING" />
          <xs:enumeration value="SERVICE_PAUSE_PENDING" />
          <xs:enumeration value="SERVICE_PAUSED" />
          <xs:enumeration value="SERVICE_RUNNING" />
          <xs:enumeration value="SERVICE_START_PENDING" />
          <xs:enumeration value="SERVICE_STOP_PENDING" />
          <xs:enumeration value="SERVICE_STOPPED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="ServiceType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SERVICE_KERNEL_DRIVER" />
          <xs:enumeration value="SERVICE_FILE_SYSTEM_DRIVER" />
          <xs:enumeration value="SERVICE_WIN32_OWN_PROCESS" />
          <xs:enumeration value="SERVICE_WIN32_SHARE_PROCESS" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="Md5HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="HashSum">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="method" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Sha256HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Sha1HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="HashItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Md5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sha256sum" type="Sha256HashSum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StreamItem">
    <xs:complexContent mixed="false">
      <xs:extension base="HashItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="SizeInBytes" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FileItem">
    <xs:complexContent mixed="false">
      <xs:extension base="HashItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DevicePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FullPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Drive" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FilePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FileExtension" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SizeInBytes" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Created" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="Modified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="Accessed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="Changed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FilenameCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FilenameModified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FilenameAccessed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FilenameChanged" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileAttributes" nillable="true" type="FileAttributes" />
          <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecurityID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SecurityType" nillable="true" type="SIDTypes" />
          <xs:element minOccurs="1" maxOccurs="1" name="INode" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="StreamList" type="ArrayOfStreamItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="PEInfo" type="PEInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="PeakEntropy" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="PeakCodeEntropy" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="StringList" type="ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FileAttributes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ReadOnly" />
          <xs:enumeration value="Hidden" />
          <xs:enumeration value="System" />
          <xs:enumeration value="Directory" />
          <xs:enumeration value="Archive" />
          <xs:enumeration value="Device" />
          <xs:enumeration value="Normal" />
          <xs:enumeration value="Temporary" />
          <xs:enumeration value="SparseFile" />
          <xs:enumeration value="ReparsePoint" />
          <xs:enumeration value="Compressed" />
          <xs:enumeration value="Offline" />
          <xs:enumeration value="NotContentIndexed" />
          <xs:enumeration value="Encrypted" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="SIDTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SidTypeUser" />
      <xs:enumeration value="SidTypeGroup" />
      <xs:enumeration value="SidTypeDomain" />
      <xs:enumeration value="SidTypeAlias" />
      <xs:enumeration value="SidTypeWellKnownGroup" />
      <xs:enumeration value="SidTypeDeletedAccount" />
      <xs:enumeration value="SidTypeInvalid" />
      <xs:enumeration value="SidTypeUnknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfStreamItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stream" nillable="true" type="StreamItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="PEType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Subsystem" nillable="true" type="SubsystemType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseAddress" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="1" maxOccurs="1" name="PETimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PEChecksum" type="PEChecksumInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExtraneousBytes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Exports" type="ExportInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="EpJumpCodes" type="EPJumpCodeInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetectedAnomalies" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="DigitalSignatureInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetectedEntryPointSignature" type="EntryPointSignature" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sections" type="SectionsInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="VersionInfoList" type="ArrayOfVersionInfoItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResourceInfoList" type="ArrayOfResourceInfoItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImportedModules" type="ArrayOfModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PEType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Executable" />
      <xs:enumeration value="Dll" />
      <xs:enumeration value="Invalid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubsystemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Native" />
      <xs:enumeration value="Windows_GUI" />
      <xs:enumeration value="Windows_CUI" />
      <xs:enumeration value="OS2_CUI" />
      <xs:enumeration value="POSIX_CUI" />
      <xs:enumeration value="Native_Win9x_Driver" />
      <xs:enumeration value="Windows_CE_GUI" />
      <xs:enumeration value="EFI_Application" />
      <xs:enumeration value="EFI_Boot_Service_Driver" />
      <xs:enumeration value="EFI_Runtime_Driver" />
      <xs:enumeration value="EFI_ROM" />
      <xs:enumeration value="XBOX" />
      <xs:enumeration value="Undefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PEChecksumInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PEFileRaw" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="PEFileAPI" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="PEComputedAPI" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExportsTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfFunctions" nillable="true" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfNames" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="DllName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExportedFunctions" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EPJumpCodeInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Depth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Opcodes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DigitalSignatureInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SignatureExists" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SignatureVerified" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertificateIssuer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertificateSubject" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryPointSignature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="DetectedType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DetectedType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Compiler" />
      <xs:enumeration value="Packer" />
      <xs:enumeration value="Installer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SectionsInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfSections" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActualNumberOfSections" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" type="Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="SectionType" />
      <xs:element minOccurs="1" maxOccurs="1" name="SizeInBytes" nillable="true" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="DetectedCharacteristics" type="Characteristics" />
      <xs:element minOccurs="0" maxOccurs="1" name="Entropy" type="EntropyAveragevalue" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetectedSignatureKeys" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Resource" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characteristics">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Execute" />
          <xs:enumeration value="Code" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="EntropyAveragevalue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CurveData" type="ArrayOfFloat" />
    </xs:sequence>
    <xs:attribute name="AverageValue" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVersionInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersionInfoItem" nillable="true" type="VersionInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VersionInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FileDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FileVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InternalName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalCopyright" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OriginalFilename" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfResourceInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceInfoItem" nillable="true" type="ResourceInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Data" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="Module" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Module">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfFunctions" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImportedFunctions" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistryItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Path" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Type" type="RegistryTypes" />
          <xs:element minOccurs="1" maxOccurs="1" name="Modified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="NumSubKeys" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="NumValues" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Hive" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="KeyPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecurityID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ValueName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReportedLengthInBytes" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RegistryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REG_NONE" />
      <xs:enumeration value="REG_SZ" />
      <xs:enumeration value="REG_EXPAND_SZ" />
      <xs:enumeration value="REG_BINARY" />
      <xs:enumeration value="REG_DWORD" />
      <xs:enumeration value="REG_DWORD_BIG_ENDIAN" />
      <xs:enumeration value="REG_LINK" />
      <xs:enumeration value="REG_MULTI_SZ" />
      <xs:enumeration value="REG_RESOURCE_LIST" />
      <xs:enumeration value="REG_FULL_RESOURCE_DESCRIPTOR" />
      <xs:enumeration value="REG_RESOURCE_REQUIREMENTS_LIST" />
      <xs:enumeration value="REG_QWORD" />
      <xs:enumeration value="REG_INVALID_TYPE" />
      <xs:enumeration value="REG_KEY" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>