scapula/schemas/xml/mir.w32drivers-memory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DriverItem" nillable="true" type="DriverItem" />
  <xs:complexType name="DriverItem">
    <xs:complexContent mixed="false">
      <xs:extension base="HashItem">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DriverObjectAddress" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="ImageSize" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="ImageBase" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="DriverName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DriverInit" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="DriverStartIo" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="DriverUnload" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceItem" type="DeviceItem" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_CREATE" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_CREATE_NAMED_PIPE" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_CLOSE" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_WRITE" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_READ" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_QUERY_INFORMATION" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SET_INFORMATION" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_QUERY_EA" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SET_EA" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_FLUSH_BUFFERS" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_QUERY_VOLUME_INFORMATION" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SET_VOLUME_INFORMATION" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_DIRECTORY_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_FILE_SYSTEM_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_DEVICE_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_INTERNAL_DEVICE_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SHUTDOWN" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_LOCK_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_CLEANUP" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_CREATE_MAILSLOT" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_QUERY_SECURITY" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SET_SECURITY" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_POWER" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SYSTEM_CONTROL" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_DEVICE_CHANGE" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_QUERY_QUOTA" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_SET_QUOTA" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="IRP_MJ_PNP" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignatureExists" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SignatureVerified" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SignatureDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CertificateSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CertificateIssuer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PEInfo" type="PEInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="StringList" type="ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HashItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Md5sum" type="Md5HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sha1sum" type="Sha1HashSum" />
          <xs:element minOccurs="0" maxOccurs="1" name="Sha256sum" type="Sha256HashSum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Md5HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="HashSum">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="method" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Sha256HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Sha1HashSum">
    <xs:simpleContent>
      <xs:extension base="HashSum" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeviceItem">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DeviceObject" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeviceName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DriverName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachedDeviceObject" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachedDeviceName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachedDriverObject" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachedDriverName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachedToDeviceObject" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachedToDeviceName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachedToDriverObject" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttachedToDriverName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="PEType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Subsystem" nillable="true" type="SubsystemType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseAddress" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="1" maxOccurs="1" name="PETimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PEChecksum" type="PEChecksumInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExtraneousBytes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Exports" type="ExportInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="EpJumpCodes" type="EPJumpCodeInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetectedAnomalies" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="DigitalSignatureInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetectedEntryPointSignature" type="EntryPointSignature" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sections" type="SectionsInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="VersionInfoList" type="ArrayOfVersionInfoItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResourceInfoList" type="ArrayOfResourceInfoItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImportedModules" type="ArrayOfModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PEType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Executable" />
      <xs:enumeration value="Dll" />
      <xs:enumeration value="Invalid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubsystemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Native" />
      <xs:enumeration value="Windows_GUI" />
      <xs:enumeration value="Windows_CUI" />
      <xs:enumeration value="OS2_CUI" />
      <xs:enumeration value="POSIX_CUI" />
      <xs:enumeration value="Native_Win9x_Driver" />
      <xs:enumeration value="Windows_CE_GUI" />
      <xs:enumeration value="EFI_Application" />
      <xs:enumeration value="EFI_Boot_Service_Driver" />
      <xs:enumeration value="EFI_Runtime_Driver" />
      <xs:enumeration value="EFI_ROM" />
      <xs:enumeration value="XBOX" />
      <xs:enumeration value="Undefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PEChecksumInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PEFileRaw" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="PEFileAPI" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="PEComputedAPI" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExportsTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfFunctions" nillable="true" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfNames" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="DllName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExportedFunctions" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EPJumpCodeInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Depth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Opcodes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DigitalSignatureInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SignatureExists" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SignatureVerified" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertificateIssuer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertificateSubject" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryPointSignature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="DetectedType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DetectedType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Compiler" />
      <xs:enumeration value="Packer" />
      <xs:enumeration value="Installer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SectionsInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfSections" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActualNumberOfSections" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" type="Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="SectionType" />
      <xs:element minOccurs="1" maxOccurs="1" name="SizeInBytes" nillable="true" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="DetectedCharacteristics" type="Characteristics" />
      <xs:element minOccurs="0" maxOccurs="1" name="Entropy" type="EntropyAveragevalue" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetectedSignatureKeys" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Resource" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Characteristics">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Read" />
          <xs:enumeration value="Write" />
          <xs:enumeration value="Execute" />
          <xs:enumeration value="Code" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="EntropyAveragevalue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CurveData" type="ArrayOfFloat" />
    </xs:sequence>
    <xs:attribute name="AverageValue" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVersionInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersionInfoItem" nillable="true" type="VersionInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VersionInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FileDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FileVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InternalName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalCopyright" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OriginalFilename" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfResourceInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceInfoItem" nillable="true" type="ResourceInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Data" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Module" nillable="true" type="Module" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Module">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumberOfFunctions" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImportedFunctions" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>