scapula/schemas/xml/mir.w32system.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SystemInfoItem" nillable="true" type="SystemInfoItem" />
  <xs:complexType name="SystemInfoItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="directory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="machine" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="totalphysical" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="availphysical" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="uptime" type="xs:duration" />
          <xs:element minOccurs="0" maxOccurs="1" name="OS" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OSbitness" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="hostname" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="user" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="domain" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="processor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="patchLevel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="buildNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="procType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="productID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="productName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="regOrg" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="regOwner" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="installDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="MAC" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="timezoneDST" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="timezoneStandard" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="biosInfo" type="BiosInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="networkArray" type="ArrayOfNetworkInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiosInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="biosDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="biosVersion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfNetworkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="networkInfo" nillable="true" type="NetworkInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NetworkInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="adapter" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MAC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ipArray" type="ArrayOfIpInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ipGatewayArray" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="dhcpServerArray" type="ArrayOfString1" />
      <xs:element minOccurs="1" maxOccurs="1" name="dhcpLeaseExpires" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="dhcpLeaseObtained" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ipInfo" nillable="true" type="IpInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ipAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="subnetMask" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ipGateway" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dhcpServer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>