scapula/schemas/xml/mir.w32disks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiskItem" nillable="true" type="DiskItem" />
  <xs:complexType name="DiskItem">
    <xs:complexContent mixed="false">
      <xs:extension base="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DiskName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiskSize" nillable="true" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="PartitionList" type="ArrayOfPartitionInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detectedAnomaly" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
    <xs:attribute name="rowid" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfPartitionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partition" nillable="true" type="PartitionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartitionInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PartitionNumber" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartitionOffset" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartitionLength" nillable="true" type="xs:unsignedLong" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartitionType" type="PartitionType" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:string" />
    <xs:attribute name="created" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:simpleType name="PartitionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PARTITION_ENTRY_UNUSED" />
      <xs:enumeration value="PARTITION_FAT_12" />
      <xs:enumeration value="PARTITION_XENIX_1" />
      <xs:enumeration value="PARTITION_XENIX_2" />
      <xs:enumeration value="PARTITION_FAT_16" />
      <xs:enumeration value="PARTITION_EXTENDED" />
      <xs:enumeration value="PARTITION_HUGE" />
      <xs:enumeration value="PARTITION_IFS" />
      <xs:enumeration value="PARTITION_OS2BOOTMGR" />
      <xs:enumeration value="PARTITION_FAT32" />
      <xs:enumeration value="PARTITION_FAT32_XINT13" />
      <xs:enumeration value="PARTITION_XINT13" />
      <xs:enumeration value="PARTITION_XINT13_EXTENDED" />
      <xs:enumeration value="PARTITION_PREP" />
      <xs:enumeration value="PARTITION_LDM" />
      <xs:enumeration value="PARTITION_UNIX" />
      <xs:enumeration value="VALID_NTFT" />
      <xs:enumeration value="PARTITION_NTFT" />
      <xs:enumeration value="UNKNOWN" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>